data/ehealth1/sample_data/pro_renata/TestfilesProRenata_6267f98a-fc43-48ba-8894-4a74669c7ce1/patient.xsd

<xs:schema xmlns:tns="https://journal.prorenata.se/static/xml/journal_archive/1.0.3/patients" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://journal.prorenata.se/static/xml/journal_archive/1.0.3/patients" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="JournalArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="file_type" type="xs:string"/>
        <xs:element name="created_date_time" type="xs:dateTime"/>
        <xs:element name="version" type="xs:string"/>
        <xs:element name="objects">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="organization_units">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="organizationunit" type="tns:foundation.organizationunit"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="school_classes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schoolclass" type="tns:patients.schoolclass"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="health_care_units">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="healthcareunit" type="tns:patients.healthcareunit"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="patients">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="patient" type="tns:patients.patient"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="admissions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="admission" type="tns:patients.admission"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="patient_images">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="patientimage" type="tns:patients.patientimage"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="entries">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="journalentry" type="tns:patients.journalentry"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="attached_entries">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attachedjournalentry" type="tns:patients.attachedjournalentry"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="watches">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="patientwatch" type="tns:patients.patientwatch"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="tasks">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="task" type="tns:tasks.task"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="custodians">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="custodian" type="tns:patients.custodian"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="contact_info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="contactinfo" type="tns:foundation.contactinfo"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="activity_log_items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="activitylogitem" type="tns:activity_logs.activitylogitem"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="patient_log_items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="patientlog" type="tns:patients.patientlog"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="foundation.organizationunit">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="unit_id" type="xs:string"/>
      <xs:element name="uuid" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="archived" type="xs:boolean"/>
      <xs:element name="test_unit" type="xs:boolean"/>
      <xs:element name="external_id" type="xs:string"/>
      <xs:element name="custom_fields">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom_field" type="tns:foundation.custom_field"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="foundation.custom_field">
    <xs:sequence>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patients.schoolclass">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="grade" type="xs:string"/>
      <xs:element name="school_year" type="xs:string"/>
      <xs:element name="mentor" type="xs:string"/>
      <xs:element name="organization_unit" type="tns:related_id"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.healthcareunit">
    <xs:sequence>
      <xs:element name="unit_name" type="xs:string"/>
      <xs:element name="journal_label" type="xs:string"/>
      <xs:element name="journal_id" type="xs:string"/>
      <xs:element name="is_medical" type="xs:boolean"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.patient">
    <xs:sequence>
      <xs:element name="organization_unit" type="tns:related_id"/>
      <xs:element name="current_school_class" type="tns:related_id"/>
      <xs:element name="school_classes">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="patients.schoolclass" type="tns:related_id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="organization_unit_name" type="xs:string"/>
      <xs:element name="current_school_class_name" type="xs:string"/>
      <xs:element name="first_name" type="xs:string"/>
      <xs:element name="last_name" type="xs:string"/>
      <xs:element name="personal_id" type="xs:string"/>
      <xs:element name="birth_date" type="xs:string"/>
      <xs:element name="sex" type="xs:string"/>
      <xs:element name="uuid" type="xs:string"/>
      <xs:element name="deceased" type="xs:boolean"/>
      <xs:element name="protected_identity" type="xs:boolean"/>
      <xs:element name="import_note" type="xs:string"/>
      <xs:element name="archived" type="xs:boolean"/>
      <xs:element name="locked" type="xs:boolean"/>
      <xs:element name="external_id" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.admission">
    <xs:sequence>
      <xs:element name="patient" type="tns:related_id"/>
      <xs:element name="health_care_unit" type="tns:related_id"/>
      <xs:element name="growth_curve_archive_path" type="xs:string"/>
      <xs:element name="vaccination_card_archive_path" type="xs:string"/>
      <xs:element name="pdf_archive_path" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.patientimage">
    <xs:sequence>
      <xs:element name="patient" type="tns:related_id"/>
      <xs:element name="size" type="xs:string"/>
      <xs:element name="filename" type="xs:string"/>
      <xs:element name="mimetype" type="xs:string"/>
      <xs:element name="primary" type="xs:boolean"/>
      <xs:element name="archive_path" type="xs:string"/>
      <xs:element name="archive_pdfa_path" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.journalentry">
    <xs:sequence>
      <xs:element name="patient" type="tns:related_id"/>
      <xs:element name="health_care_unit" type="tns:related_id"/>
      <xs:element name="html" type="xs:string"/>
      <xs:element name="calendar_event_duration" type="xs:string"/>
      <xs:element name="charge_entry" type="xs:boolean"/>
      <xs:element name="charge_entry_bill_item_created_date_time" type="xs:string"/>
      <xs:element name="charge_entry_cost" type="xs:string"/>
      <xs:element name="co_responsible_name" type="xs:string"/>
      <xs:element name="co_signed_by_name" type="xs:string"/>
      <xs:element name="co_signed_by_signature" type="xs:string"/>
      <xs:element name="co_signed_date_time" type="xs:string"/>
      <xs:element name="contact_type" type="xs:string"/>
      <xs:element name="create_calendar_event" type="xs:boolean"/>
      <xs:element name="created_date_time" type="xs:string"/>
      <xs:element name="creator_name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="editable" type="xs:boolean"/>
      <xs:element name="edited_by_name" type="xs:string"/>
      <xs:element name="edited_date_time" type="xs:string"/>
      <xs:element name="entry_date_time" type="xs:string"/>
      <xs:element name="entry_type" type="xs:string"/>
      <xs:element name="exported_date_time" type="xs:string"/>
      <xs:element name="exported_note" type="xs:string"/>
      <xs:element name="external_id" type="xs:string"/>
      <xs:element name="external_source" type="xs:string"/>
      <xs:element name="followup_done" type="xs:boolean"/>
      <xs:element name="followup_done_date_time" type="xs:string"/>
      <xs:element name="followup_done_note" type="xs:string"/>
      <xs:element name="followup_due_date_time" type="xs:string"/>
      <xs:element name="followup_note" type="xs:string"/>
      <xs:element name="hcu_name" type="xs:string"/>
      <xs:element name="icon" type="xs:string"/>
      <xs:element name="import_info" type="xs:string"/>
      <xs:element name="is_confidential" type="xs:boolean"/>
      <xs:element name="locked_date_time" type="xs:string"/>
      <xs:element name="meta_data">
        <xs:complexType>
          <xs:sequence>
            <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="next_attached_entry_tag_counter" type="xs:string"/>
      <xs:element name="patient_current_school_class_name" type="xs:string"/>
      <xs:element name="patient_first_name" type="xs:string"/>
      <xs:element name="patient_id" type="xs:string"/>
      <xs:element name="patient_last_name" type="xs:string"/>
      <xs:element name="patient_organization_unit_name" type="xs:string"/>
      <xs:element name="permanent" type="xs:boolean"/>
      <xs:element name="readonly" type="xs:boolean"/>
      <xs:element name="responsible_name" type="xs:string"/>
      <xs:element name="show_empty_rows" type="xs:boolean"/>
      <xs:element name="signed_by_name" type="xs:string"/>
      <xs:element name="signed_by_signature" type="xs:string"/>
      <xs:element name="signed_date_time" type="xs:string"/>
      <xs:element name="strikeout_by_name" type="xs:string"/>
      <xs:element name="strikeout_comment" type="xs:string"/>
      <xs:element name="strikeout_date_time" type="xs:string"/>
      <xs:element name="tag" type="xs:string"/>
      <xs:element name="tag_label" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="row_groups">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="journalentryrowgroup" type="tns:patients.journalentryrowgroup"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rows">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="journalentryrow" type="tns:patients.journalentryrow"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attachments">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="journalentrys3attachment" type="tns:patients.journalentrys3attachment"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="archives">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="journalentryarchive" type="tns:patients.journalentryarchive"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.journalentryrowgroup">
    <xs:sequence>
      <xs:element name="collapse" type="xs:string"/>
      <xs:element name="label" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.journalentryrow">
    <xs:sequence>
      <xs:element name="advanced" type="xs:boolean"/>
      <xs:element name="data">
        <xs:complexType>
          <xs:sequence>
            <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="group" type="tns:related_id"/>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="order" type="xs:string"/>
      <xs:element name="row_tag" type="xs:string"/>
      <xs:element name="row_type" type="xs:string"/>
      <xs:element name="meta_data">
        <xs:complexType>
          <xs:sequence>
            <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.journalentrys3attachment">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="size" type="xs:string"/>
      <xs:element name="filename" type="xs:string"/>
      <xs:element name="mimetype" type="xs:string"/>
      <xs:element name="archive_path" type="xs:string"/>
      <xs:element name="archive_pdfa_path" type="xs:string" nillable="true"/>
      <xs:element name="pdfa" type="xs:boolean"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.journalentryarchive">
    <xs:sequence>
      <xs:element name="archived_by_name" type="xs:string"/>
      <xs:element name="archived_date_time" type="xs:string"/>
      <xs:element name="entry_archive" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.attachedjournalentry">
    <xs:sequence>
      <xs:element name="attached_entry" type="tns:related_id"/>
      <xs:element name="generate_tag" type="xs:boolean"/>
      <xs:element name="generate_tag_label" type="xs:string"/>
      <xs:element name="main_entry" type="tns:related_id"/>
      <xs:element name="order" type="xs:string"/>
      <xs:element name="required" type="xs:boolean"/>
      <xs:element name="required_date_time" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="icon" type="xs:string"/>
      <xs:element name="patient_first_name" type="xs:string"/>
      <xs:element name="patient_last_name" type="xs:string"/>
      <xs:element name="patient_personal_id" type="xs:string"/>
      <xs:element name="attached_entry_title" type="xs:string"/>
      <xs:element name="attached_entry_icon" type="xs:string"/>
      <xs:element name="attached_entry_entry_date_time" type="xs:string"/>
      <xs:element name="attached_entry_responsible_name" type="xs:string"/>
      <xs:element name="main_entry_title" type="xs:string"/>
      <xs:element name="main_entry_icon" type="xs:string"/>
      <xs:element name="main_entry_entry_date_time" type="xs:string"/>
      <xs:element name="main_entry_responsible_name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.patientwatch">
    <xs:sequence>
      <xs:element name="patient" type="tns:related_id"/>
      <xs:element name="health_care_unit" type="tns:related_id"/>
      <xs:element name="level" type="xs:string"/>
      <xs:element name="added_by_name" type="xs:string"/>
      <xs:element name="added_date_time" type="xs:string"/>
      <xs:element name="reason" type="xs:string"/>
      <xs:element name="note" type="xs:string"/>
      <xs:element name="external_id" type="xs:string"/>
      <xs:element name="external_source" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="tasks.task">
    <xs:sequence>
      <xs:element name="health_care_unit" type="tns:related_id"/>
      <xs:element name="patient" type="tns:related_id"/>
      <xs:element name="user_name" type="xs:string"/>
      <xs:element name="created_by_name" type="xs:string"/>
      <xs:element name="created_date_time" type="xs:string"/>
      <xs:element name="category" type="xs:string"/>
      <xs:element name="header" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="reminder_sent_date_time" type="xs:string"/>
      <xs:element name="notification_sent_date_time" type="xs:string"/>
      <xs:element name="due_date_time" type="xs:string"/>
      <xs:element name="done_date_time" type="xs:string"/>
      <xs:element name="done_by_name" type="xs:string"/>
      <xs:element name="done_comment" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.custodian">
    <xs:sequence>
      <xs:element name="patient" type="tns:related_id"/>
      <xs:element name="first_name" type="xs:string"/>
      <xs:element name="last_name" type="xs:string"/>
      <xs:element name="personal_id" type="xs:string"/>
      <xs:element name="note" type="xs:string"/>
      <xs:element name="external_id" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="foundation.contactinfo">
    <xs:sequence>
      <xs:element name="object" type="tns:related_id"/>
      <xs:element name="addresses">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="address" type="tns:foundation.address"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="phone_numbers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="phonenumber" type="tns:foundation.phonenumber"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="e_mails">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="email" type="tns:foundation.email"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="foundation.address">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="primary" type="xs:boolean"/>
      <xs:element name="imported_date_time" type="xs:string"/>
      <xs:element name="order" type="xs:string"/>
      <xs:element name="address1" type="xs:string"/>
      <xs:element name="address2" type="xs:string"/>
      <xs:element name="zip" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="region" type="xs:string"/>
      <xs:element name="country" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="foundation.phonenumber">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="primary" type="xs:boolean"/>
      <xs:element name="imported_date_time" type="xs:string"/>
      <xs:element name="order" type="xs:string"/>
      <xs:element name="number" type="xs:string"/>
      <xs:element name="can_receive_sms" type="xs:boolean"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="foundation.email">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="primary" type="xs:boolean"/>
      <xs:element name="imported_date_time" type="xs:string"/>
      <xs:element name="order" type="xs:string"/>
      <xs:element name="mail" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="activity_logs.activitylogitem">
    <xs:sequence>
      <xs:element name="patient" type="tns:related_id"/>
      <xs:element name="health_care_unit" type="tns:related_id"/>
      <xs:element name="user_name" type="xs:string"/>
      <xs:element name="action_type_text" type="xs:string"/>
      <xs:element name="action_id_text" type="xs:string"/>
      <xs:element name="timestamp" type="xs:string"/>
      <xs:element name="client_activity" type="xs:boolean"/>
      <xs:element name="success" type="xs:boolean"/>
      <xs:element name="denied" type="xs:boolean"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="patients.patientlog">
    <xs:sequence>
      <xs:element name="patient" type="tns:related_id"/>
      <xs:element name="patient_last_name" type="xs:string"/>
      <xs:element name="patient_first_name" type="xs:string"/>
      <xs:element name="patient_personal_id" type="xs:string"/>
      <xs:element name="patient_orgunit_name" type="xs:string"/>
      <xs:element name="patient_school_class_name" type="xs:string"/>
      <xs:element name="user_first_name" type="xs:string"/>
      <xs:element name="user_last_name" type="xs:string"/>
      <xs:element name="super_user_first_name" type="xs:string"/>
      <xs:element name="super_user_last_name" type="xs:string"/>
      <xs:element name="protected_identity_patient" type="xs:string"/>
      <xs:element name="inside_users_organization_units" type="xs:boolean"/>
      <xs:element name="timestamp" type="xs:string"/>
      <xs:element name="timestamp_left" type="xs:string"/>
      <xs:element name="ip_address" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="related_id">
    <xs:attribute name="related_id" type="xs:string"/>
  </xs:complexType>
</xs:schema>
